{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div>
      <!-- ... другие ссылки ... -->
      {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Выйти</a>
      {% else %}
        <a href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>
</body>
</html>
