{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


{% block content %}
<h1>Меню</h1>

{% for category in categories %}
    <h2>{{ category.name }}</h2>
    <ul>
    {% for product in category.products.all %}
        <li>
            <strong>{{ product.name }}</strong> - {{ product.price }} руб. <br>
            Описание: {{ product.description }}
            {% if product.on_sale %}
                <span style="color: red;">По акции!</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
